#include <windows.h>

#define IDD_INPUTBOX 1001
#define IDC_PROMPT 101
#define IDC_EDIT1 102

IDD_INPUTBOX DIALOGEX 0, 0, 230, 80
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
CAPTION "InputBox"
BEGIN
    LTEXT           "Prompt:",IDC_PROMPT,7,7,216,29
    EDITTEXT        IDC_EDIT1,7,39,216,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,118,59,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,173,59,50,14
END
